spring:
  application:
    name: facein-service
  cloud:
    config:
      uri: http://localhost:8088
  datasource:
     platform: h2
     initialize: true
     continue-on-error: true
     sql-script-encoding: UTF-8
  batch:
     initializer:
        enabled: false
  servlet: 
     multipart: 
        max-file-size: 4MB
        max-request-size: 10MB
mybatis:
  typeAliasesPackage: hello.entity
  mapperLocations: classpath*:mapper/*.xml

